* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Cbold';
    src: url("fonts/Cafeteria-Bold.otf");
    font-family: 'Cblack';
    src: url("fonts/Cafeteria-Black.otf");
 }

 @font-face {
  font-family: 'clock';
  src: url("fonts/MuseoSansRounded-700.otf");
}

:root {
    --font: 'Cblack', 'Times New Roman', serif;
    --bannerBg: #FED123;
    --bannerBorder: #FAA819;
    --fontColor: #363636;
    --mainBorder: #9a6f26;
  }

  header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
    background-color: var(--bannerBg);
    background-image: url("images/banner-stars.png");
    background-size: 115px;
    background-repeat: repeat;
    background-position-x: 10px;
    background-position-y: -5px;
    border-bottom: solid 3px var(--bannerBorder);
  }

  #profile-logo {
    display: flex;
  }

  #profile-icon {
    margin-left: 10px;
    margin-top: 3px;
    height: 50px;
    width: 50px;
    background-color: var(--bannerBorder);
    border-radius: 50%;
  }

  #logo {
    height: 55px;
    width: auto;
  }

  nav {
    position: absolute;
    right: 0%;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 75px;
  }

  nav div {
    /* padding: 5px; */
  }

    #buttonBox, #clock, #searchBell {
      display: flex;
      margin: 5px;
    }

    .navbutton {
      display: flex;
      align-items: center;
      margin: 5px;
      font-family: var(--font);
      font-size: 23px;
      color: var(--fontColor);
    }

    .navbutton img:not(.dropdown) {
      height: 35px;
      width: auto;
      margin: 12px;
    }

    #clock {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      height: 30px;
      width: 140px;
      background-color: #FFF7C5;
      border: 2px solid var(--bannerBorder);
      border-radius: 5px;
      font-family: 'clock', Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: black;
    }

    #searchBell img {
      height: 35px;
      margin: 5px;
    }

    .dropdown {
      height: 12px;
      margin-left: 7px;
      margin-right: 10px;
    }
